* text=auto eol=lf

*.mp4 binary
*.jpg binary
*.png binary

*.h   text eol=lf
*.hpp text eol=lf
*.c   text eol=lf
*.cpp text eol=lf
*.ino text eol=lf
*.ps1 text eol=lf
*.md  text eol=lf
*.json text eol=lf
*.ini text eol=lf